#mynetwork {
    border: 1px solid lightgray;
}

#drop {
    text-align: center;
    z-index: 1;
    font-size: 1.5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -2px 0 10px;
}

body {
    padding: 2px;
    margin: 0;
}

#topology {
    margin: 0 0 10px 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    box-shadow: 0 0 4px #cccccc;
    border-radius: 4px;
}

button {
    font-size: 1.5em;
}

h1, h2, h3 {
    margin: 0;
    color: #aaaaaa;
}

footer {
    color: #aaaaaa;
    text-align: center;
}

a {
    color: #042662;
}