#mynetwork {
    border: 1px solid lightgray;
}

.droppable {
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    display: none;
    text-align: center;
    z-index: 1;
    font-size: 1.5em;
    margin: -2px 0 10px;
    line-height: 500px;
}

.droppable.active {
    display: block;
    background: orange;
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

#topology {
    margin: 0 0 10px 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    box-shadow: 0 0 4px #cccccc;
    border-radius: 4px;
}

button {
    font-size: 1.5em;
}

h1, h2, h3 {
    margin: 0;
    color: #aaaaaa;
}

footer {
    color: #aaaaaa;
    text-align: center;
}

a {
    color: #042662;
}

.progress_tracker {
    padding: 0;
    margin: 0;
    height: 10px;
    width: 100%;
    vertical-align: top;
}